* {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

header {
  position: relative;
  margin-bottom: 50px;
}

#header_bar {
  border-bottom: 120px solid #FFE102;
  border-left: 200px solid #1BE5FF;
}

#header_label {
  text-align: right;
  margin-top: -85px;
}


h1 {
  display: inline;
  margin: 14px;
  padding: 5px;
  font-size: 80px;
  color: #FFF;
  border-left: 2px solid #F2F2F2;
}

h2 {
  font-size: 60px;
  color: #1BE5FF;
  text-align: center;
}


h3 {
  display: inline;
  font-size: 45px;
  color: #7F7F7F;
}

h4 {
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  vertical-align: middle;
  margin: 0 auto;
}

a:link {
  color: #19D7F0;
}

a:visited {
  color: #19D7F0;
}

a:hover {
  color: #1BE5FF;
}

nav {
  bottom: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: white;
  min-height: 40px;
}

ul {
  vertical-align: middle;
}

.item-box {
  border: 2px solid #FFE102;
  padding: 20px 40px;
  margin: 30px 0;
}

.item-box:hover{
  border: 2px solid #FFF;
  background-color: #E3E3E3;
}

.item-box, .project-box {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

p {
  margin: 10px 0;
  text-align: justify;
}

.project-box {
  max-width: 350px;
  min-height: 550px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid #FFF;
  opacity: 0.4;
}

.project-box:hover{
  opacity: 1;
}

p.project-description {
  max-width: 300px;
  margin: 10px auto;
}

.push {
  height: 320px;
}

