body {
  background-color: #FBFBFB;
}

header {
  position: relative;
  margin-bottom: 50px;
}

#header-bar {
  border-bottom: 120px solid #FFE102;
  border-left: 200px solid #1BE5FF;
}

nav {
  text-align: right;
  margin-top: -85px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  display: inline;
  margin: 14px;
  padding: 5px;
}

.name {
  font-size: 80px;
  color: #FFF;
  border-left: 2px solid #F2F2F2;  
}

.subheader {
  font-size: 60px;
  color: #6E6E6E;
}

a {
  text-decoration: none;
}

.name a:link {
  color: #fff;
}

.name a:visited {
  color: #fff;
}

.subheader a:link {
  color: #6E6E6E;
}

.subheader a:visited {
  color: #6E6E6E;
}

.name a:hover, .subheader a:hover {
  color: #41BCD1;
}

#ebhf {
  max-width: 800px;
  margin: 100px;
  color: #6E6E6E;
}

.icon {
  fill: #1BE5FF;
}

#icon-box hr {
  color: black;
  width: 10%;
}