body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #000;
}

/* General */

#header-name {
  font-family: 'Oswald', sans-serif;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-text {
  font-size: 30px;
  font-weight: 600;
  background: white;
  padding: 0 5px;
}

.background-style {
  background-size: contain;
}

a {
  text-decoration: none;
  color: #00AB4B;
}

a:hover {
  color: #00F76C;
}

.mobile-only {
  display: none;
}

/* Header */

header {
  background: url(../img/tpl-asteroids.jpg);
  height: 100vh;
}

#header-text {
  color: white;
}

#header-name {
  margin-top: 20vh;
  font-size: 220px;
  padding: 0;
  text-shadow: -8px 8px rgba(26, 155, 213, 0.7);
}

#sub-text-wrapper div {
  display: inline-block;
}

#sub-text {
  margin: 60px auto 60px 10px;
  font-size: 40px;
  font-weight: 200;
}

.sub-text-words {
  background: rgba(0,0,0,0.25);
  padding: 0 2px;
}

#text-separator {
  color: #FFF100;
  margin: 0 15px;
}

#underline {
  border-top: 5px solid #1A9BD5;
  width: 100%;
}

.widen {
  width: 100%;
}

/* Main */

#main {
  background: url(../img/tpl-leather-nunchuck.png);
}

/* Main - Self-Photos */

.selfie {
  padding: 5px 8px;
}

.photo-inner {
  border: 8px solid #FFF100;
  border-radius: 12px;
  background: #FFF100;
}

.photo-inner img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

/* Main - Self-Descriptions */

#main .row {
  margin-bottom: 30px;
}

#hello {
  font-family: 'Fascinate Inline', sans-serif;
  font-size: 150px;
  padding: 0;
  color: #00F76C;
}

.section-text-wrapper {
  line-height: 45px;
}

#down-arrow-wrapper {
  margin: 50px 0;
  text-align: center;
}

#down-arrow {
  font-size: 100px;
}

/* Attribution */

#attributions {
  margin-top: 80px;
}

#attributions .section-text {
  font-size: 20px;
}

/* Others */

/*#others {
  background: url(../img/tpl-science.png);
}

#others-headline {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 150px;
  color: #0F5A7C;
  text-align: center;
  margin-bottom: 30px;
}

.project-wrapper {
  padding: 10px;
}

.project-box {
  background: #0F5A7C;
}*/

/* Responsiveness - Medium and down */

@media (max-width: 64em) {

}

/* Responsiveness - Medium only */

@media (min-width: 40.063em) and (max-width: 64em) {

}

/* Responsiveness - Small only */ 

@media (max-width: 40em) {
  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: initial;
  }

  #underline {
    border-top: 3px solid #1A9BD5;
    width: 100%;
  }

  #hello {
    font-size: 90px;
    display: block;
    margin-bottom: 30px;
  }

  .section-text {
    font-size: 25px;
  }

  #down-arrow {
    font-size: 50px;
  }
}

@media (max-width: 40em) and (orientation: portrait) {
  #header-name {
    font-size: 88px;
    padding: 0;
    text-shadow: -4px 4px rgba(26, 155, 213, 0.7);
    margin-top: 27vh;
    margin-bottom: 30px;
  }

  #sub-text {
    display: none;
  }
}

@media (max-width: 40em) and (orientation: landscape) {
  #header-name {
    font-size: 110px;
    padding: 0;
    text-shadow: -4px 4px rgba(26, 155, 213, 0.7);
    margin-top: 10vh;
  }

  #sub-text {
    margin: 15px auto 15px 10px;
    font-size: 28px;
    font-weight: 200;
  }

  .sub-text-words {
    background: rgba(0,0,0,0.25);
    padding: 0 2px;
  }

  #text-separator {
    color: #FFF100;
    margin: 0 15px;
    font-weight: 400;
  }

  .selfie {
    padding: 15px 24px;
  }
}

