body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  height: 100vh;
}


#header-bike {
  margin-top: 90px;
  text-align: left;
  display: none;
}

#header-bike img {
  width: 80%;
  height: auto;
}

#header-text {
  margin-top: 150px;
}

#header-text #name {
  font-family: 'Oswald', sans-serif;
  font-size: 220px;
  padding: 0;
}

#sub-text-wrapper div {
  display: inline-block;
}

#header-text #sub-text {
  margin: 60px auto 60px 10px;
}

#sub-text {
  font-size: 40px;
}

#text-separator {
  color: #FFF100;
  margin: 0 15px;
  font-weight: 400;
}

#underline {
  border-top: 5px solid #1A9BD5;
  width: 100%;
}

.widen {
  width: 100%;
}