body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
/*  background: #F7F7F7;*/
  background: #DBDBDB;
}

/* General */

.name {
  font-family: 'Oswald', sans-serif;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.background-style {
  height: 100vh;
  background-size: contain;
}

/* Header */

header {
  background: url(../img/tpl-asteroids.jpg);
}


#header-bike {
  margin-top: 90px;
  text-align: left;
  display: none;
}

#header-bike img {
  width: 80%;
  height: auto;
}

#header-text {
  margin-top: 150px;
  color: white;
}

#header-text #header-name {
  font-size: 220px;
  padding: 0;
  text-shadow: -8px 8px rgba(26, 155, 213, 0.7);
}

#sub-text-wrapper div {
  display: inline-block;
}

#header-text #sub-text {
  margin: 60px auto 60px 10px;
}

#sub-text {
  font-size: 40px;
}

#text-separator {
  color: #FFF100;
  margin: 0 15px;
  font-weight: 400;
}

#underline {
  border-top: 5px solid #1A9BD5;
  width: 100%;
}

.widen {
  width: 100%;
}

/* Main */

#main {
  background: url(../img/tpl-leather-nunchuck.png);
}

/* Main - Self-Photos */

.selfie img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Other */

#other {
  background: url(../img/tpl-science.png);
}









