body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #F7F7F7;
}

/* General Typography */

.name {
  font-family: 'Oswald', sans-serif;
}

/* Header */

header {
  height: 100vh;
}


#header-bike {
  margin-top: 90px;
  text-align: left;
  display: none;
}

#header-bike img {
  width: 80%;
  height: auto;
}

#header-text {
  margin-top: 150px;
}

#header-text #header-name {
  font-size: 220px;
  padding: 0;
}

#sub-text-wrapper div {
  display: inline-block;
}

#header-text #sub-text {
  margin: 60px auto 60px 10px;
}

#sub-text {
  font-size: 40px;
}

#text-separator {
  color: #FFF100;
  margin: 0 15px;
  font-weight: 400;
}

#underline {
  border-top: 5px solid #1A9BD5;
  width: 100%;
}

.widen {
  width: 100%;
}

/* Main General */

aside {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Aside */

#aside-name {
  font-size: 50px;
  padding-bottom: 30px;
  border-bottom: 3px solid #1A9BD5;
}

aside nav {
  margin-left: 4px;
}

aside nav li {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 300;
}

.test {
  font-weight: 400;
}

/* Content */

#content {
  margin-top: 100px;
}

#content h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

#content p {
  font-size: 20px;
  margin-bottom: 10px;
}

.this-guy-box {
  height: 250px;
}

.text-box {
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 15px;
}

.selfie {
  border-width: 8px;
  border-style: solid;
  padding: 0;
}

/* This Guy - Basics */

#basics-text {
  border-color: #FFF100;
}

#color-box-basics {
  background: #FFF100;
}

.selfie img {
  width: 100%;
  height: 100%;
}

#io-mayfields {
  border-color: #FFF100;
}

/* This Guy - Stack */

#stack-text {
  border-color: #1A9BD5;
  border-left-width: 2px;
}

#color-box-stack {
  background: #1A9BD5;
}

#io-morgans {
  border-color: #1A9BD5;
}







