body {
  background: #00AE4C;
}

header {
  width: 100%;
  height: 500px;
}

#header-left, #header-right {
  display: inline-block;
  width: 50%;
  height: 100%;
}

#header-left {
  text-align: center;
}

#header-left img {
  height: 75%;
  width: auto;
}

#header-right {
  float: right;
  text-align: right;
}

/* Typography */

h1.contrast-backing {
  display: inline-block;
  font-family: 'Alfa Slab One', cursive;
  font-size: 80px;
  background: white;
  color: #00AE4C;
  padding: 10px;
  margin: 20px -5px 20px 0;
}

h1.non-name {
  text-transform: lowercase;
}